{% extends 'base.html.twig' %}

{% block title %}
  About
{% endblock %}

{% block body %}
  <div class="col-8"></div>
  <div class="col-4"></div>

  <div class="container">
      <h2>Om kursen</h2>
      <p>Namnet "mvc" är vårt eget smeknamn på kursen och under det namnet döljer sig objektorienterad PHP-programmering med kända webbramverk, enhetstestning, kodkvalitet och databaskopplingar med objekt relational mapping (ORM).</p>
  </div>

{% endblock %}
