{% extends 'base.html.twig' %}

{% block title %}
  Lucky dice!
{% endblock %}

{% block body %}

  <div class="container text-center">
    <h2>You rolled</h2>
    <img width="200px" src="img/dice/dice-six-faces-{{ diceNumber }}.png" alt="">
  </div>
  

{% endblock %}
