{% extends 'base.html.twig' %}

{% block title %}
  Me
{% endblock %}

{% block body %}
  <br>
  <h2 name="#kmom01">kmom01</h2>

  <br>
  <h6>Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.</h6>
  <p>Jag har tidigare läst Java och VB kurser och har ganska bra förstårelse av objektorientering conceptet. De första kurserna som ingår i detta programmet har också gett mig bra introduktion till objektorientering i PHP.</p>

  <br>
  <h6>Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder man behöver veta/förstå för att kunna komma igång och skapa sina första klasser?</h6>
  <p>En klass är en mall och ett objekt är en instans av en klass. De grundläggande principer för objektorienterat programmering är abstraktion, arv, polymorfism och inkapsling. 
    Jag skulle säga att det minimalt kravet för att skriva sin första klass är att man ska någonlunda förstå inkapsling principen för en strukturerad kodbas. Alla principer är dock lika viktiga att förstå för att man ska kunna jobba med objektorienteat programmering på ett effektivt sätt.
  </p>
  
  <br>
  <h6>Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?</h6>
  <p>Symfony ramverket använder sig fullt ut av objektorienterat PHP. Inuti ramverket är det mängder av olika klasser från olika paketer som samspelar med varandra och utgöra en orgraniserad struktur för vidare utveckling till en egen applikation.
    De koderna som jag har skrivit till uppgiften använder sig av den befinligt klassstruktur i ramverket. De har en standard struktur som man måste följa efter på deras sätt för att det ska fungera och passa in med resten av ramverket.
    Det tog sin tid för mig att förstå hur man kan koppla sig in och jobba med hela systemmet. Vad är en Controller, vad gör den och hur kopplar man den till en Route eller en twig gränsnitt template osv..
  </p>

  <br>
  <h6>Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner du extra intressanta och värdefulla? Är det några särskilda områden som du känner att du vill veta mer om? Lyft fram några delar av artikeln som du känner mer värdefulla.</h6>
  <p>Jag tycker väldig mycket om artikeln. Den bästa med den är den "up-to-date" med dagens utveckling och man kan lära sig om de senaste tekniker och verktyg som folk verkligen använder. Min favorit del i artikeln är alltid där den förklara i detalj hur man installera utvecklingsmiljö och olika verktyg. 
    I mitt tycke så är det mest viktigt att ha en solid grundinstallation. Allt annat som kodkvalite eller programmeringsknep i sin tur kommer naturliga att falla in på plats ju mer man öva på.</p>
  
  <br>
  <h6>Vilken är din TIL för detta kmom?</h6>
  <p>Denna kmom lärde mig om Symfony grundsystemmet som Controller, Route och template. Också, Symfony är ganska känsligt med .htaccess på apache server. Jag fick inte min publisherad app att fungera på student servern förren filen var korrek åtgärd.</p>
  <hr class="hr" />
{% endblock %}
